/* card - index.php */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.card {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* card - index.php */



